doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/materialize.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(href='/css/browse.css', rel='stylesheet')
  body
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='/js/materialize.js', defer='')
    nav
      .nav-wrapper(style="font-weight: 300;")
        a.brand-logo.top-left(href='/') graphmarks.io
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href='/whatisthis.html') what is this?  
    .container
      br
      br
      br
      br
      .row
       .col.s6
         .card.medium
           .card-image
             a(href='/vis.html')
              img(src='/img/PL.png')
              span.card-title(style="color:#EE6E73;font-weight:400") Awesome-Awesomeness
           .card-content
             p A curated list of amazingly awesome awesome lists. 
             p Compiled from: 
             p
              a.inlink(href='https://github.com/bayandin/awesome-awesomeness') https://github.com/bayandin/awesome-awesomeness
       .col.s6
         .card.medium
           .card-image
             a(href='/vis.html')
               img(src='/img/deniz.png')
               span.card-title(style="color:#EE6E73;font-weight:400") Ebb-Tide's Bookmarks
           .card-content
             p My, I have such a variety of interests! Graphmarks is a great tool for visualizing them all.
      .row
        .col.s6
          .card.medium
            .card-image
              img(src='http://materializecss.com/images/sample-1.jpg')
              span.card-title(style="color:#EE6E73;font-weight:400") Card Title
            .card-content
              p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
        .col.s6
          .card.medium
            .card-image
              img(src='http://materializecss.com/images/sample-1.jpg')
              span.card-title(style="color:#EE6E73;font-weight:400") Card Title
            .card-content
              p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
      .row
        .col.s6
          .card.medium
            .card-image
              img(src='http://materializecss.com/images/sample-1.jpg')
              span.card-title(style="color:#EE6E73;font-weight:400") Card Title
            .card-content
              p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
        .col.s6
          .card.medium
            .card-image
              img(src='http://materializecss.com/images/sample-1.jpg')
              span.card-title(style="color:#EE6E73;font-weight:400") Card Title
            .card-content
              p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
      .row
        .col.s6
          .card.medium
            .card-image
              img(src='http://materializecss.com/images/sample-1.jpg')
              span.card-title(style="color:#EE6E73;font-weight:400") Card Title
            .card-content
              p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
        .col.s6
          .card.medium
            .card-image
              img(src='http://materializecss.com/images/sample-1.jpg')
              span.card-title(style="color:#EE6E73;font-weight:400") Card Title
            .card-content
              p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.