doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/materialize.css', rel='stylesheet')
    link(href='css/styles.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
  body
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='/js/materialize.js', defer='')
    nav
      .nav-wrapper(style="font-weight: 300;")
        a.brand-logo.top-left(href='/') graphmarks.co
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href='#gm-whatisthis') what is this?  

    #gm-whatisthis.modal.gm-whatisthis-modal
      .gm-modal-content
        h4 what is graphmarks?
        p 
          span.gm-modal-tagline
            b graphmarks 
            | is a fun and interactive graph-based visualization tool for your personal bookmarks or subject-related lists of links.
        p A graphmarks visualization represents bookmarks (or links!) in the form of a graph tree, with draggable nodes and connections. You can download the graphmarks chrome extension to explore your bookmarks folder in a whole new way! You can click through folders to expand and collapse nodes, and spatially rearrange concepts to create a clickable brain map of sorts. 
          a(class="gm-link" href="/vis.html") Try it!
        p We think bookmark graphs are a great reflection of your interests and tastes online. So, go ahead - curate your own personal directory of the internet, then access it from anywhere, or share it with the world at 
          a(class="gm-link" href="\\www.graphmarks.co") graphmarks.co
          | . Don’t forget to check out the graphmarks created by 
          a(class="gm-link" href="\\www.graphmarks.co/browse.html") our community
          | ! 
      .modal-footer
        a(href="#!").modal-action.modal-close.waves-effect.btn-flat close

    #search.valign-wrapper
      .container
        .center-align
          span.first-line
            span.logo-highlight  graphmarks, 
            |  your bookmarks look so good.
          br
          br
          br
        .row
          .col.s10.offset-s2
            span.otherlines
              | go ahead, 
              br
              ul
                li 
                  a(href='/vis.html') see an awesome demo...
                br
                li 
                  a(href='/browse.html') browse graphmarks from the community...
                br
                li 
                  a(href='/bookmarks.html') download the chrome extension and transform your bookmarks folder...
                br
  script.
    $(function() {
      $('#search').css({'height': (window.innerHeight) + 'px'});
      $('#search').css({'width': window.innerWidth + 'px'});
      $('.modal').modal();
    });
