doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/materialize.css', rel='stylesheet')
    link(href='/css/styles.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
  body
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='/js/materialize.js', defer='')
    nav
      .nav-wrapper
        a.brand-logo.top-left(href='#') graphmarks.io
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href='explanation.html') what is this?  
    #search.valign-wrapper
      .container
        .center-align
          span.first-line
            span.logo-highlight  graphmarks, 
            |  your bookmarks look so good.
          br
          br
        .row
          .col.s10.offset-s2
            span.otherlines
              | go ahead... 
              br
              ul
                li 
                  a(href='vis.html') browse an awesome demo
                  |  
                  img(src='/img/arrow.svg')
                br
                li create a graphmark from scratch
                  |  
                  img(src='/img/arrow.svg')
                br
                li browse graphmarks from the community
                  |  
                  img(src='/img/arrow.svg')
                br
                li download the browser extension and transform your bookmarks folder
                  |  
                  img(src='/img/arrow.svg')
                br
  script.
    $(function() {
      $('#search').css({'height': (window.innerHeight) + 'px'});
      $('#search').css({'width': window.innerWidth + 'px'});
    });
